.tp-color-theme-especialidade-clinica {
  --tp-color-brand: #db5000;
  --tp-color-brand-rgb: 219, 80, 0;
  --tp-color-brand-shade: #c24700;
  --tp-color-brand-tint: #f55a00;
  --tp-color-brand-1: #db5000;
  --tp-color-brand-1-rgb: 219, 80, 0;
  --tp-color-brand-1-shade: #c24700;
  --tp-color-brand-1-tint: #f55a00;
  --tp-color-brand-2: #db5000;
  --tp-color-brand-2-rgb: 219, 80, 0;
  --tp-color-brand-2-shade: #c24700;
  --tp-color-brand-2-tint: #f55a00;
  --tp-color-brand-3: #db5000;
  --tp-color-brand-3-rgb: 219, 80, 0;
  --tp-color-brand-3-shade: #c24700;
  --tp-color-brand-3-tint: #f55a00;
  --tp-color-brand-4: #db5000;
  --tp-color-brand-4-rgb: 219, 80, 0;
  --tp-color-brand-4-shade: #c24700;
  --tp-color-brand-4-tint: #f55a00;
  --tp-color-brand-5: #db5000;
  --tp-color-brand-5-rgb: 219, 80, 0;
  --tp-color-brand-5-shade: #c24700;
  --tp-color-brand-5-tint: #f55a00;
}

.tp-color-scheme-light.tp-color-theme-especialidade-clinica {
  --tp-color-brand: #a45f37;
  --tp-color-brand-rgb: 164, 95, 55;
  --tp-color-brand-shade: #915430;
  --tp-color-brand-tint: #b86a3d;
  --tp-color-brand-1: #a45f37;
  --tp-color-brand-1-rgb: 164, 95, 55;
  --tp-color-brand-1-shade: #915430;
  --tp-color-brand-1-tint: #b86a3d;
  --tp-color-brand-2: #a45f37;
  --tp-color-brand-2-rgb: 164, 95, 55;
  --tp-color-brand-2-shade: #915430;
  --tp-color-brand-2-tint: #b86a3d;
  --tp-color-brand-3: #a45f37;
  --tp-color-brand-3-rgb: 164, 95, 55;
  --tp-color-brand-3-shade: #915430;
  --tp-color-brand-3-tint: #b86a3d;
  --tp-color-brand-4: #a45f37;
  --tp-color-brand-4-rgb: 164, 95, 55;
  --tp-color-brand-4-shade: #915430;
  --tp-color-brand-4-tint: #b86a3d;
  --tp-color-brand-5: #a45f37;
  --tp-color-brand-5-rgb: 164, 95, 55;
  --tp-color-brand-5-shade: #915430;
  --tp-color-brand-5-tint: #b86a3d;
}

.ion-color-brand,
[tp-color=brand] {
  --ion-color-base: var(--tp-color-brand) !important;
  --ion-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-brand-shade) !important;
  --ion-color-tint: var(--tp-color-brand-tint) !important;
}

.ion-color-brand-1,
[tp-color=brand-1] {
  --ion-color-base: var(--tp-color-brand-1) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.ion-color-brand-2,
[tp-color=brand-2] {
  --ion-color-base: var(--tp-color-brand-2) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.ion-color-brand-3,
[tp-color=brand-3] {
  --ion-color-base: var(--tp-color-brand-3) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.ion-color-brand-4,
[tp-color=brand-4] {
  --ion-color-base: var(--tp-color-brand-4) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.ion-color-brand-5,
[tp-color=brand-5] {
  --ion-color-base: var(--tp-color-brand-5) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

.tp-color-brand,
[tp-color=brand] {
  --tp-color-base: var(--tp-color-brand) !important;
  --tp-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-brand-shade) !important;
  --tp-color-tint: var(--tp-color-brand-tint) !important;
}

.tp-color-brand-1,
[tp-color=brand-1] {
  --tp-color-base: var(--tp-color-brand-1) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.tp-color-brand-2,
[tp-color=brand-2] {
  --tp-color-base: var(--tp-color-brand-2) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.tp-color-brand-3,
[tp-color=brand-3] {
  --tp-color-base: var(--tp-color-brand-3) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.tp-color-brand-4,
[tp-color=brand-4] {
  --tp-color-base: var(--tp-color-brand-4) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.tp-color-brand-5,
[tp-color=brand-5] {
  --tp-color-base: var(--tp-color-brand-5) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

.tp-color-scheme-light .ion-color-brand,
.tp-color-scheme-light [tp-color=brand] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-1,
.tp-color-scheme-light [tp-color=brand-1] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-2,
.tp-color-scheme-light [tp-color=brand-2] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-3,
.tp-color-scheme-light [tp-color=brand-3] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-4,
.tp-color-scheme-light [tp-color=brand-4] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-5,
.tp-color-scheme-light [tp-color=brand-5] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand,
.tp-color-scheme-light [tp-color=brand] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-1,
.tp-color-scheme-light [tp-color=brand-1] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-2,
.tp-color-scheme-light [tp-color=brand-2] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-3,
.tp-color-scheme-light [tp-color=brand-3] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-4,
.tp-color-scheme-light [tp-color=brand-4] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-5,
.tp-color-scheme-light [tp-color=brand-5] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}

/*# sourceMappingURL=clinica.css.map */
