.tp-color-theme-especialidade {
  --tp-color-brand: #c4ff4d;
  --tp-color-brand-rgb: 196, 255, 77;
  --tp-color-brand-shade: #bbff33;
  --tp-color-brand-tint: #ccff66;
  --tp-color-brand-1: #c4ff4d;
  --tp-color-brand-1-rgb: 196, 255, 77;
  --tp-color-brand-1-shade: #bbff33;
  --tp-color-brand-1-tint: #ccff66;
  --tp-color-brand-2: #c4ff4d;
  --tp-color-brand-2-rgb: 196, 255, 77;
  --tp-color-brand-2-shade: #bbff33;
  --tp-color-brand-2-tint: #ccff66;
  --tp-color-brand-3: #c4ff4d;
  --tp-color-brand-3-rgb: 196, 255, 77;
  --tp-color-brand-3-shade: #bbff33;
  --tp-color-brand-3-tint: #ccff66;
  --tp-color-brand-4: #c4ff4d;
  --tp-color-brand-4-rgb: 196, 255, 77;
  --tp-color-brand-4-shade: #bbff33;
  --tp-color-brand-4-tint: #ccff66;
  --tp-color-brand-5: #c4ff4d;
  --tp-color-brand-5-rgb: 196, 255, 77;
  --tp-color-brand-5-shade: #bbff33;
  --tp-color-brand-5-tint: #ccff66;
}

.tp-color-scheme-light.tp-color-theme-especialidade {
  --tp-color-brand: #b5d279;
  --tp-color-brand-rgb: 181, 210, 121;
  --tp-color-brand-shade: #aacc66;
  --tp-color-brand-tint: #bfd98c;
  --tp-color-brand-1: #b5d279;
  --tp-color-brand-1-rgb: 181, 210, 121;
  --tp-color-brand-1-shade: #aacc66;
  --tp-color-brand-1-tint: #bfd98c;
  --tp-color-brand-2: #b5d279;
  --tp-color-brand-2-rgb: 181, 210, 121;
  --tp-color-brand-2-shade: #aacc66;
  --tp-color-brand-2-tint: #bfd98c;
  --tp-color-brand-3: #b5d279;
  --tp-color-brand-3-rgb: 181, 210, 121;
  --tp-color-brand-3-shade: #aacc66;
  --tp-color-brand-3-tint: #bfd98c;
  --tp-color-brand-4: #b5d279;
  --tp-color-brand-4-rgb: 181, 210, 121;
  --tp-color-brand-4-shade: #aacc66;
  --tp-color-brand-4-tint: #bfd98c;
  --tp-color-brand-5: #b5d279;
  --tp-color-brand-5-rgb: 181, 210, 121;
  --tp-color-brand-5-shade: #aacc66;
  --tp-color-brand-5-tint: #bfd98c;
}

.ion-color-brand,
[tp-color=brand] {
  --ion-color-base: var(--tp-color-brand) !important;
  --ion-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-brand-shade) !important;
  --ion-color-tint: var(--tp-color-brand-tint) !important;
}

.ion-color-brand-1,
[tp-color=brand-1] {
  --ion-color-base: var(--tp-color-brand-1) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.ion-color-brand-2,
[tp-color=brand-2] {
  --ion-color-base: var(--tp-color-brand-2) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.ion-color-brand-3,
[tp-color=brand-3] {
  --ion-color-base: var(--tp-color-brand-3) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.ion-color-brand-4,
[tp-color=brand-4] {
  --ion-color-base: var(--tp-color-brand-4) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.ion-color-brand-5,
[tp-color=brand-5] {
  --ion-color-base: var(--tp-color-brand-5) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

.tp-color-brand,
[tp-color=brand] {
  --tp-color-base: var(--tp-color-brand) !important;
  --tp-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-brand-shade) !important;
  --tp-color-tint: var(--tp-color-brand-tint) !important;
}

.tp-color-brand-1,
[tp-color=brand-1] {
  --tp-color-base: var(--tp-color-brand-1) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.tp-color-brand-2,
[tp-color=brand-2] {
  --tp-color-base: var(--tp-color-brand-2) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.tp-color-brand-3,
[tp-color=brand-3] {
  --tp-color-base: var(--tp-color-brand-3) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.tp-color-brand-4,
[tp-color=brand-4] {
  --tp-color-base: var(--tp-color-brand-4) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.tp-color-brand-5,
[tp-color=brand-5] {
  --tp-color-base: var(--tp-color-brand-5) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

.tp-color-scheme-light .ion-color-brand,
.tp-color-scheme-light [tp-color=brand] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-1,
.tp-color-scheme-light [tp-color=brand-1] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-2,
.tp-color-scheme-light [tp-color=brand-2] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-3,
.tp-color-scheme-light [tp-color=brand-3] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-4,
.tp-color-scheme-light [tp-color=brand-4] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .ion-color-brand-5,
.tp-color-scheme-light [tp-color=brand-5] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand,
.tp-color-scheme-light [tp-color=brand] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-1,
.tp-color-scheme-light [tp-color=brand-1] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-2,
.tp-color-scheme-light [tp-color=brand-2] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-3,
.tp-color-scheme-light [tp-color=brand-3] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-4,
.tp-color-scheme-light [tp-color=brand-4] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}
.tp-color-scheme-light .tp-color-brand-5,
.tp-color-scheme-light [tp-color=brand-5] {
  --tp-color-neutral-1: var(--tp-color-neutral-10) !important;
  --tp-color-neutral-1-rgb: var(--tp-color-neutral-10-rgb) !important;
}

/*# sourceMappingURL=especialidade.css.map */
