.tp-color-theme-extensivo-rmais {
  --tp-color-contrast-fixed: #f9fafa;
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-brand: #b814b8;
  --tp-color-brand-rgb: 184, 20, 184;
  --tp-color-brand-shade: #a112a1;
  --tp-color-brand-tint: #cf17cf;
  --tp-color-brand-1: #5c0a5c;
  --tp-color-brand-1-rgb: 92, 10, 92;
  --tp-color-brand-1-shade: #450845;
  --tp-color-brand-1-tint: #730d73;
  --tp-color-brand-2: #8a0f8a;
  --tp-color-brand-2-rgb: 138, 15, 138;
  --tp-color-brand-2-shade: #730d73;
  --tp-color-brand-2-tint: #a112a1;
  --tp-color-brand-3: #b814b8;
  --tp-color-brand-3-rgb: 184, 20, 184;
  --tp-color-brand-3-shade: #a112a1;
  --tp-color-brand-3-tint: #cf17cf;
  --tp-color-brand-4: #eb47eb;
  --tp-color-brand-4-rgb: 235, 71, 235;
  --tp-color-brand-4-shade: #e830e8;
  --tp-color-brand-4-tint: #ed5eed;
  --tp-color-brand-5: #f5a3f5;
  --tp-color-brand-5-rgb: 245, 163, 245;
  --tp-color-brand-5-shade: #f28cf2;
  --tp-color-brand-5-tint: #f7baf7;
}

.tp-color-scheme-light.tp-color-theme-extensivo-rmais {
  --tp-color-contrast-fixed: #f9fafa;
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-brand: #8f3d8f;
  --tp-color-brand-rgb: 143, 61, 143;
  --tp-color-brand-shade: #7d367d;
  --tp-color-brand-tint: #a145a1;
  --tp-color-brand-1: #e0b8e0;
  --tp-color-brand-1-rgb: 224, 184, 224;
  --tp-color-brand-1-shade: #d9a6d9;
  --tp-color-brand-1-tint: #e8c9e8;
  --tp-color-brand-2: #f0dbf0;
  --tp-color-brand-2-rgb: 240, 219, 240;
  --tp-color-brand-2-shade: #e8c9e8;
  --tp-color-brand-2-tint: #f7edf7;
  --tp-color-brand-3: white;
  --tp-color-brand-3-rgb: 255, 255, 255;
  --tp-color-brand-3-shade: #f7edf7;
  --tp-color-brand-3-tint: white;
  --tp-color-brand-4: white;
  --tp-color-brand-4-rgb: 255, 255, 255;
  --tp-color-brand-4-shade: white;
  --tp-color-brand-4-tint: white;
  --tp-color-brand-5: white;
  --tp-color-brand-5-rgb: 255, 255, 255;
  --tp-color-brand-5-shade: white;
  --tp-color-brand-5-tint: white;
}

.ion-color-brand,
[tp-color=brand] {
  --ion-color-base: var(--tp-color-brand) !important;
  --ion-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(--tp-color-brand-shade) !important;
  --ion-color-tint: var(--tp-color-brand-tint) !important;
}

.ion-color-brand-1,
[tp-color=brand-1] {
  --ion-color-base: var(--tp-color-brand-1) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.ion-color-brand-2,
[tp-color=brand-2] {
  --ion-color-base: var(--tp-color-brand-2) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.ion-color-brand-3,
[tp-color=brand-3] {
  --ion-color-base: var(--tp-color-brand-3) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --ion-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.ion-color-brand-4,
[tp-color=brand-4] {
  --ion-color-base: var(--tp-color-brand-4) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.ion-color-brand-5,
[tp-color=brand-5] {
  --ion-color-base: var(--tp-color-brand-5) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

.tp-color-brand,
[tp-color=brand] {
  --tp-color-base: var(--tp-color-brand) !important;
  --tp-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(--tp-color-brand-shade) !important;
  --tp-color-tint: var(--tp-color-brand-tint) !important;
}

.tp-color-brand-1,
[tp-color=brand-1] {
  --tp-color-base: var(--tp-color-brand-1) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.tp-color-brand-2,
[tp-color=brand-2] {
  --tp-color-base: var(--tp-color-brand-2) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.tp-color-brand-3,
[tp-color=brand-3] {
  --tp-color-base: var(--tp-color-brand-3) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --tp-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.tp-color-brand-4,
[tp-color=brand-4] {
  --tp-color-base: var(--tp-color-brand-4) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.tp-color-brand-5,
[tp-color=brand-5] {
  --tp-color-base: var(--tp-color-brand-5) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

/*# sourceMappingURL=extensivo-rmais.css.map */
