.tp-color-theme-recursos {
  --tp-color-contrast-fixed: #f9fafa;
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-brand: #148fb8;
  --tp-color-brand-rgb: 20, 143, 184;
  --tp-color-brand-shade: #127da1;
  --tp-color-brand-tint: #17a1cf;
  --tp-color-brand-1: #0a475c;
  --tp-color-brand-1-rgb: 10, 71, 92;
  --tp-color-brand-1-shade: #083645;
  --tp-color-brand-1-tint: #0d5973;
  --tp-color-brand-2: #0f6b8a;
  --tp-color-brand-2-rgb: 15, 107, 138;
  --tp-color-brand-2-shade: #0d5973;
  --tp-color-brand-2-tint: #127da1;
  --tp-color-brand-3: #148fb8;
  --tp-color-brand-3-rgb: 20, 143, 184;
  --tp-color-brand-3-shade: #127da1;
  --tp-color-brand-3-tint: #17a1cf;
  --tp-color-brand-4: #47c2eb;
  --tp-color-brand-4-rgb: 71, 194, 235;
  --tp-color-brand-4-shade: #30bae8;
  --tp-color-brand-4-tint: #5ec9ed;
  --tp-color-brand-5: #a3e0f5;
  --tp-color-brand-5-rgb: 163, 224, 245;
  --tp-color-brand-5-shade: #8cd9f2;
  --tp-color-brand-5-tint: #bae8f7;
  --tp-color-contrast-fixed: #f9fafa;
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-orange: #b85814;
  --tp-color-orange-rgb: 184, 88, 20;
  --tp-color-orange-shade: #a14d12;
  --tp-color-orange-tint: #cf6317;
  --tp-color-orange-1: #5c2c0a;
  --tp-color-orange-1-rgb: 92, 44, 10;
  --tp-color-orange-1-shade: #452108;
  --tp-color-orange-1-tint: #73370d;
  --tp-color-orange-2: #8a420f;
  --tp-color-orange-2-rgb: 138, 66, 15;
  --tp-color-orange-2-shade: #73370d;
  --tp-color-orange-2-tint: #a14d12;
  --tp-color-orange-3: #b85814;
  --tp-color-orange-3-rgb: 184, 88, 20;
  --tp-color-orange-3-shade: #a14d12;
  --tp-color-orange-3-tint: #cf6317;
  --tp-color-orange-4: #eb8b47;
  --tp-color-orange-4-rgb: 235, 139, 71;
  --tp-color-orange-4-shade: #e87d30;
  --tp-color-orange-4-tint: #ed9a5e;
  --tp-color-orange-5: #f5c5a3;
  --tp-color-orange-5-rgb: 245, 197, 163;
  --tp-color-orange-5-shade: #f2b78c;
  --tp-color-orange-5-tint: #f7d4ba;
}

.tp-color-scheme-light.tp-color-theme-recursos {
  --tp-color-contrast-fixed: #f9fafa;
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-brand: #3d7a8f;
  --tp-color-brand-rgb: 61, 122, 143;
  --tp-color-brand-shade: #366b7d;
  --tp-color-brand-tint: #458aa1;
  --tp-color-brand-1: #b8d6e0;
  --tp-color-brand-1-rgb: 184, 214, 224;
  --tp-color-brand-1-shade: #a6ccd9;
  --tp-color-brand-1-tint: #c9e0e8;
  --tp-color-brand-2: #dbebf0;
  --tp-color-brand-2-rgb: 219, 235, 240;
  --tp-color-brand-2-shade: #c9e0e8;
  --tp-color-brand-2-tint: #edf5f7;
  --tp-color-brand-3: white;
  --tp-color-brand-3-rgb: 255, 255, 255;
  --tp-color-brand-3-shade: #edf5f7;
  --tp-color-brand-3-tint: white;
  --tp-color-brand-4: white;
  --tp-color-brand-4-rgb: 255, 255, 255;
  --tp-color-brand-4-shade: white;
  --tp-color-brand-4-tint: white;
  --tp-color-brand-5: white;
  --tp-color-brand-5-rgb: 255, 255, 255;
  --tp-color-brand-5-shade: white;
  --tp-color-brand-5-tint: white;
  --tp-color-contrast-fixed: #f9fafa;
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-orange: #8f5f3d;
  --tp-color-orange-rgb: 143, 95, 61;
  --tp-color-orange-shade: #7d5336;
  --tp-color-orange-tint: #a16b45;
  --tp-color-orange-1: #e0c9b8;
  --tp-color-orange-1-rgb: 224, 201, 184;
  --tp-color-orange-1-shade: #d9bba6;
  --tp-color-orange-1-tint: #e8d6c9;
  --tp-color-orange-2: #f0e4db;
  --tp-color-orange-2-rgb: 240, 228, 219;
  --tp-color-orange-2-shade: #e8d6c9;
  --tp-color-orange-2-tint: #f7f1ed;
  --tp-color-orange-3: white;
  --tp-color-orange-3-rgb: 255, 255, 255;
  --tp-color-orange-3-shade: #f7f1ed;
  --tp-color-orange-3-tint: white;
  --tp-color-orange-4: white;
  --tp-color-orange-4-rgb: 255, 255, 255;
  --tp-color-orange-4-shade: white;
  --tp-color-orange-4-tint: white;
  --tp-color-orange-5: white;
  --tp-color-orange-5-rgb: 255, 255, 255;
  --tp-color-orange-5-shade: white;
  --tp-color-orange-5-tint: white;
}

.ion-color-orange,
[tp-color=orange] {
  --ion-color-base: var(--tp-color-orange) !important;
  --ion-color-base-rgb: var(--tp-color-orange-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(--tp-color-orange-shade) !important;
  --ion-color-tint: var(--tp-color-orange-tint) !important;
}

.ion-color-orange-1,
[tp-color=orange-1] {
  --ion-color-base: var(--tp-color-orange-1) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-1-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-1-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-1-tint
  ) !important;
}

.ion-color-orange-2,
[tp-color=orange-2] {
  --ion-color-base: var(--tp-color-orange-2) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-2-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-2-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-2-tint
  ) !important;
}

.ion-color-orange-3,
[tp-color=orange-3] {
  --ion-color-base: var(--tp-color-orange-3) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-3-rgb
  ) !important;
  --ion-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-3-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-3-tint
  ) !important;
}

.ion-color-orange-4,
[tp-color=orange-4] {
  --ion-color-base: var(--tp-color-orange-4) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-4-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-4-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-4-tint
  ) !important;
}

.ion-color-orange-5,
[tp-color=orange-5] {
  --ion-color-base: var(--tp-color-orange-5) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-5-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-5-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-5-tint
  ) !important;
}

.tp-color-orange,
[tp-color=orange] {
  --tp-color-base: var(--tp-color-orange) !important;
  --tp-color-base-rgb: var(--tp-color-orange-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(--tp-color-orange-shade) !important;
  --tp-color-tint: var(--tp-color-orange-tint) !important;
}

.tp-color-orange-1,
[tp-color=orange-1] {
  --tp-color-base: var(--tp-color-orange-1) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-1-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-1-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-1-tint
  ) !important;
}

.tp-color-orange-2,
[tp-color=orange-2] {
  --tp-color-base: var(--tp-color-orange-2) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-2-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-2-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-2-tint
  ) !important;
}

.tp-color-orange-3,
[tp-color=orange-3] {
  --tp-color-base: var(--tp-color-orange-3) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-3-rgb
  ) !important;
  --tp-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-3-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-3-tint
  ) !important;
}

.tp-color-orange-4,
[tp-color=orange-4] {
  --tp-color-base: var(--tp-color-orange-4) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-4-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-4-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-4-tint
  ) !important;
}

.tp-color-orange-5,
[tp-color=orange-5] {
  --tp-color-base: var(--tp-color-orange-5) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-5-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-5-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-5-tint
  ) !important;
}

.ion-color-orange,
[tp-color=orange] {
  --ion-color-base: var(--tp-color-orange) !important;
  --ion-color-base-rgb: var(--tp-color-orange-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(--tp-color-orange-shade) !important;
  --ion-color-tint: var(--tp-color-orange-tint) !important;
}

.ion-color-orange-1,
[tp-color=orange-1] {
  --ion-color-base: var(--tp-color-orange-1) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-1-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-1-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-1-tint
  ) !important;
}

.ion-color-orange-2,
[tp-color=orange-2] {
  --ion-color-base: var(--tp-color-orange-2) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-2-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-2-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-2-tint
  ) !important;
}

.ion-color-orange-3,
[tp-color=orange-3] {
  --ion-color-base: var(--tp-color-orange-3) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-3-rgb
  ) !important;
  --ion-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-3-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-3-tint
  ) !important;
}

.ion-color-orange-4,
[tp-color=orange-4] {
  --ion-color-base: var(--tp-color-orange-4) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-4-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-4-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-4-tint
  ) !important;
}

.ion-color-orange-5,
[tp-color=orange-5] {
  --ion-color-base: var(--tp-color-orange-5) !important;
  --ion-color-base-rgb: var(
    --tp-color-orange-5-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-orange-5-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-orange-5-tint
  ) !important;
}

.tp-color-orange,
[tp-color=orange] {
  --tp-color-base: var(--tp-color-orange) !important;
  --tp-color-base-rgb: var(--tp-color-orange-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(--tp-color-orange-shade) !important;
  --tp-color-tint: var(--tp-color-orange-tint) !important;
}

.tp-color-orange-1,
[tp-color=orange-1] {
  --tp-color-base: var(--tp-color-orange-1) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-1-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-1-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-1-tint
  ) !important;
}

.tp-color-orange-2,
[tp-color=orange-2] {
  --tp-color-base: var(--tp-color-orange-2) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-2-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-2-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-2-tint
  ) !important;
}

.tp-color-orange-3,
[tp-color=orange-3] {
  --tp-color-base: var(--tp-color-orange-3) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-3-rgb
  ) !important;
  --tp-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-3-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-3-tint
  ) !important;
}

.tp-color-orange-4,
[tp-color=orange-4] {
  --tp-color-base: var(--tp-color-orange-4) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-4-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-4-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-4-tint
  ) !important;
}

.tp-color-orange-5,
[tp-color=orange-5] {
  --tp-color-base: var(--tp-color-orange-5) !important;
  --tp-color-base-rgb: var(
    --tp-color-orange-5-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-orange-5-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-orange-5-tint
  ) !important;
}

/*# sourceMappingURL=recursos.css.map */
