.tp-color-theme-no-papo {
  --tp-color-contrast-fixed: #f9fafa;
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-brand: #1430b8;
  --tp-color-brand-rgb: 20, 48, 184;
  --tp-color-brand-shade: #122aa1;
  --tp-color-brand-tint: #1736cf;
  --tp-color-brand-1: #0a185c;
  --tp-color-brand-1-rgb: 10, 24, 92;
  --tp-color-brand-1-shade: #081245;
  --tp-color-brand-1-tint: #0d1e73;
  --tp-color-brand-2: #0f248a;
  --tp-color-brand-2-rgb: 15, 36, 138;
  --tp-color-brand-2-shade: #0d1e73;
  --tp-color-brand-2-tint: #122aa1;
  --tp-color-brand-3: #1430b8;
  --tp-color-brand-3-rgb: 20, 48, 184;
  --tp-color-brand-3-shade: #122aa1;
  --tp-color-brand-3-tint: #1736cf;
  --tp-color-brand-4: #4763eb;
  --tp-color-brand-4-rgb: 71, 99, 235;
  --tp-color-brand-4-shade: #304fe8;
  --tp-color-brand-4-tint: #5e76ed;
  --tp-color-brand-5: #a3b1f5;
  --tp-color-brand-5-rgb: 163, 177, 245;
  --tp-color-brand-5-shade: #8c9df2;
  --tp-color-brand-5-tint: #bac4f7;
}

.tp-color-scheme-light.tp-color-theme-no-papo {
  --tp-color-contrast-fixed: #f9fafa;
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-brand: #3d4b8f;
  --tp-color-brand-rgb: 61, 75, 143;
  --tp-color-brand-shade: #36417d;
  --tp-color-brand-tint: #4554a1;
  --tp-color-brand-1: #b8bee0;
  --tp-color-brand-1-rgb: 184, 190, 224;
  --tp-color-brand-1-shade: #a6aed9;
  --tp-color-brand-1-tint: #c9cfe8;
  --tp-color-brand-2: #dbdff0;
  --tp-color-brand-2-rgb: 219, 223, 240;
  --tp-color-brand-2-shade: #c9cfe8;
  --tp-color-brand-2-tint: #edeff7;
  --tp-color-brand-3: white;
  --tp-color-brand-3-rgb: 255, 255, 255;
  --tp-color-brand-3-shade: #edeff7;
  --tp-color-brand-3-tint: white;
  --tp-color-brand-4: white;
  --tp-color-brand-4-rgb: 255, 255, 255;
  --tp-color-brand-4-shade: white;
  --tp-color-brand-4-tint: white;
  --tp-color-brand-5: white;
  --tp-color-brand-5-rgb: 255, 255, 255;
  --tp-color-brand-5-shade: white;
  --tp-color-brand-5-tint: white;
}

.ion-color-brand,
[tp-color=brand] {
  --ion-color-base: var(--tp-color-brand) !important;
  --ion-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(--tp-color-brand-shade) !important;
  --ion-color-tint: var(--tp-color-brand-tint) !important;
}

.ion-color-brand-1,
[tp-color=brand-1] {
  --ion-color-base: var(--tp-color-brand-1) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.ion-color-brand-2,
[tp-color=brand-2] {
  --ion-color-base: var(--tp-color-brand-2) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.ion-color-brand-3,
[tp-color=brand-3] {
  --ion-color-base: var(--tp-color-brand-3) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --ion-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.ion-color-brand-4,
[tp-color=brand-4] {
  --ion-color-base: var(--tp-color-brand-4) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.ion-color-brand-5,
[tp-color=brand-5] {
  --ion-color-base: var(--tp-color-brand-5) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

.tp-color-brand,
[tp-color=brand] {
  --tp-color-base: var(--tp-color-brand) !important;
  --tp-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(--tp-color-brand-shade) !important;
  --tp-color-tint: var(--tp-color-brand-tint) !important;
}

.tp-color-brand-1,
[tp-color=brand-1] {
  --tp-color-base: var(--tp-color-brand-1) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.tp-color-brand-2,
[tp-color=brand-2] {
  --tp-color-base: var(--tp-color-brand-2) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.tp-color-brand-3,
[tp-color=brand-3] {
  --tp-color-base: var(--tp-color-brand-3) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --tp-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.tp-color-brand-4,
[tp-color=brand-4] {
  --tp-color-base: var(--tp-color-brand-4) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.tp-color-brand-5,
[tp-color=brand-5] {
  --tp-color-base: var(--tp-color-brand-5) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

/*# sourceMappingURL=no-papo.css.map */
